/* .centp {
	line-height: 20px;
	font-size: 1.2rem;
	font-weight: 500;
	max-width: 55rem;
	text-align: center;
	display: flex;
	margin-bottom: 40px;
	font-family: Nunito, sans-serif;
	padding-left: 40rem;
} */

.small {
	font-size: 0.8rem;
	margin-top: 2px;
}
